@page "/Index"

@using ChrilleGram.UI.Data.Services
@using ChrilleGram.UI.Models
@using Microsoft.Maui.Controls

@inject UserService UserService
@inject ImageService ImageService
@inject NavigationManager NavManager

<div>
    <h1>ChrilleGram</h1>
</div>

<div class="row">
    @foreach (var img in Images)
    {
        <img src="@($"data:image/png;base64,{Convert.ToBase64String(img)}")" />
    }
</div>

@code {
    public List<ImagePath> ImagePaths { get; set; } = new List<ImagePath>();
    public List<byte[]> Images { get; set; } = new List<byte[]>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var jwt = await SecureStorage.Default.GetAsync("jwt");
            if (string.IsNullOrEmpty(jwt))
            {
                NavManager.NavigateTo("/");
            }
            else
            {
                var res = await ImageService.GetAllImagePaths(jwt);
                ImagePaths = res.ToList();

                var tasks = ImagePaths.Select(async x =>
                {
                    var image = await ImageService.GetImage(x.Path, jwt);
                    return image;
                });
                var results = await Task.WhenAll(tasks);
                Images.AddRange(results);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred while retrieving the image paths: {ex.Message}");
        }
    }
}
