@page "/Index"

@using ChrilleGram.UI.Data.Services;
@using ChrilleGram.UI.Models;

@inject UserService UserService
@inject ImageService ImageService
@inject NavigationManager NavManager

<div>
    <h1>ChrilleGram</h1>
</div>

<div class="row">
    @foreach (var path in ImagePaths)
    {
        <p>@path.Path</p>
    }
</div>

@code {
    public List<ImagePath> ImagePaths { get; set; } = new List<ImagePath>();

    protected override async void OnInitialized()
    {
        var jwt = await SecureStorage.Default.GetAsync("jwt");
        if (string.IsNullOrEmpty(jwt))
        {
            NavManager.NavigateTo("/");
        } else
        {
            var res = await ImageService.GetAllImagePaths(jwt);
            ImagePaths = res.ToList();
        }
    }
}
